
/* @import "../../var.css"; */
div.title {
    border-bottom: 1px solid #4ab4c3;
    margin-bottom: 20px;
}
h2.tv {
    font-size: 16px;
    color: #4ab4c3;
    margin: 20px;
    margin-left: 30px;
}
div.searchBlock {
    height: 60px;
    line-height: 60px;
    background-color: #425a7c;
}
.el-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}
.el-input__inner {
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-right:none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-sizing: border-box;
    color: #000;
    display: inline-block;
    font-size: inherit;
    height: 36px;
    line-height: 1;
    outline: none;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 90%;
}
.el-input__inner::placeholder {
    color: color(#000 h(+3) s(16%) l(58%));
}

.el-input__inner:hover {
    border-color: #000;
}

.el-button > span > .clear {
    width:20px;
    height:20px;
    line-height: 22px;
    color: transparent;
    background-image: url('./cross.png');
    transition: all 0.3s ease-in-out;
}

.el-button > span > .clear:hover {
    background-image: url('./crosshover.png');
    transform: rotate(-180deg);
    transition: all 0.3s ease-in-out;
}

.el-input__inner:focus {
    outline: none;
    border-color:#20a0ff;
}
.el-input-group__append {
    display: inline-block!important;
    width: 10%;
    height: 60px;
    line-height: 60px;
}
.el-button {
    height: 36px;
    position: relative;
    line-height: 22px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-left: none;
    outline: none;
    display: inline-block;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #fff;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.el-tree {
    cursor: default;
    background: #2f4666;
    color: #4ab4c3;
    font-weight: bold;
    /* border: 1px solid var(--color-base-gray); */
}  
.el-tree__empty-block {
    position: relative;
    min-height: 60px;
    text-align: center;
    width: 100%;
    height: 100%;
}
.el-tree__empty-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: color(#20a0ff s(16%) l(44%));
}
    
.el-tree-node {
      white-space: nowrap;
}

.el-tree-node__content {
    line-height: 36px;
    height: 36px;
    cursor: pointer;
}
.el-tree-node__content > .el-checkbox,
.el-tree-node__content > .el-tree-node__expand-icon {
    margin-right: 8px;
}
.el-tree-node__content > .el-checkbox {
    vertical-align: middle;
    display: inline-block;
    height: 20px;
}
.el-tree-node__content:hover {
    background: #37d4d9;
    transition: background 0.3s ease-in-out;
}
.el-tree-node__content:hover > .el-tree-node__label {
    color: #fff;
}
.el-tree-node__content:hover > .el-tree-node__label > span > span.keyword {
    color: #fff;
}

.el-tree-node__content:hover > .el-tree-node__expand-icon {
    background-image: url('./whiteplus.png');
    transition: background-image 0.3s ease-in-out;
}
.el-tree-node__content:hover > .el-tree-node__expand-icon.expanded {
    background-image: url('./whiteminus.png');
    transition: background-image 0.3s ease-in-out;
}
.el-tree-node__content:hover > .el-tree-node__expand-icon.is-leaf {
    background: transparent;
}

.contentClicked .el_tree-node__content {
    background: #43a4a8;
    transition: background 0.3s ease-in-out;
}
.contentClicked .el-tree-node__content > .el-tree-node__label {
    color: #fff;
}
.contentClicked .el-tree-node__content > .el-tree-node__label > span > span.keyword {
    color: #fff;
}

.contentClicked .el-tree-node__content > .el-tree-node__expand-icon {
    background-image: url('./whiteplus.png');
    transition: background-image 0.3s ease-in-out;
}
.contentClicked .el-tree-node__content > .el-tree-node__expand-icon.expanded {
    background-image: url('./whiteminus.png');
    transition: background-image 0.3s ease-in-out;
}
.contentClicked .el-tree-node__content > .el-tree-node__expand-icon.is-leaf {
    background: transparent;
}




.keyword {
    color: #dedd89;
}
.el-tree-node__expand-icon {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 10px;
    background-image: url('./blueplus.png');
    /* border: 6px solid transparent; */
    /* border-right-width: 0; */
    /* border-left-color: var(--color-light-silver); */
    /* border-left-width: 7px; */
    border: none;

    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
}
.el-tree-node__expand-icon:hover {
    /* border-left-color: #999; */
    transform: rotate(-90deg);
    transition: transform 0.3s ease-in-out;
}
.el-tree-node__expand-icon.expanded {
    background-image: url('./blueminus.png');
    transition: background-image 0.3s ease-in-out;
}
.el-tree-node__expand-icon.expanded:hover{
    transform: rotate(-180deg);
    transition: transform 0.5s ease-in-out;
}

.el-tree-node__expand-icon.is-leaf {
    background: transparent;
    cursor: default;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
    background-image: url('./ok.png');
    border-color: #0190fe;
}
.el-checkbox__inner {
    display: inline-block;
    position: relative;
    /* border: 1px solid #bfcbd9; */
    border-radius: 4px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: #fff;
    z-index: 1;
    transition: background-color .25s cubic-bezier(.71,-.46,.29,1.46);
}
.el-checkbox__inner::after {
    box-sizing: content-box;
    content: "";
    border: 2px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 8px;
    left: 5px;
    position: absolute;
    top: 1px;
    -ms-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    width: 4px;
    transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
    -ms-transform-origin: center;
    transform-origin: center;
}
.el-checkbox__original {
    opacity: 0;
    outline: 0;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    left: -999px;
}

.el-tree-node__label {
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
}
  
.el-tree-node__loading-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    font-size: 14px;
    color: color(#fff h(+3) s(23%) l(67%));
}
  
.el-tree-node > .el-tree-node__children {
    overflow: hidden;
    /* background-color: transparent; */
}
  
.el-tree-node .is-expanded > .el-tree-node__children {
    display: block;
}
.collapse-transition {
    transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out, 0.3s padding-bottom ease-in-out;
}
.horizontal-collapse-transition {
    transition: 0.3s width ease-in-out, 0.3s padding-left ease-in-out, 0.3s padding-right ease-in-out;
}
  
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
    background-color: #87bbe4;
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content  > .el-tree-node__label {
    color: #2f4666;
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content  > .el-tree-node__label > span > span.keyword {
    color: #2f4666;
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content  > .el-tree-node__expand-icon {
    background-image: url('./whiteplus.png');
    transition: background-image 0.3s ease-in-out;
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content  > .el-tree-node__expand-icon.expanded {
    background-image: url('./whiteminus.png');
    transition: background-image 0.3s ease-in-out;
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content  > .el-tree-node__expand-icon.is-leaf {
    background: transparent;
}
